{% extends 'base.html' %}
{% block title %}{{ title|default:'Lista de Parroquias' }}{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>{{ title|default:'Lista de Parroquias' }}</h2>
    <a href="{% url 'parroquia_create' %}" class="btn btn-success">+ Nueva Parroquia</a>
  </div>
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Email</th>
        <th class="align-items-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for parroquia in parroquias %}
      <tr>
        <td>{{ parroquia.nombre }}</td>
        <td>{{ parroquia.telefono }}</td>
        <td>{{ parroquia.email }}</td>
        <td>
         <div class="d-flex justify-content-center gap-2">
            <a href="{% url 'parroquia_detail' parroquia.pk %}" class="btn btn-info btn-sm flex-fill">Ver</a>
            <a href="{% url 'parroquia_update' parroquia.pk %}" class="btn btn-primary btn-sm flex-fill">Editar</a>
            <a href="{% url 'parroquia_delete' parroquia.pk %}" class="btn btn-danger btn-sm flex-fill">Eliminar</a>
         </div>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4" class="text-center">No hay parroquias registradas.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{{ cancel_url|default:'/' }}" class="btn btn-secondary mt-3">Volver</a>
</div>
{% endblock %}
