{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-3">
    <div class="card shadow">
        <div class="card-header d-flex justify-content-between align-items-center bg-primary text-white mb-3">
            <h4 class="mb-0">
                {% block form_title %}
                {{ view.title|default:"Formulario" }}
                {% endblock %}
            </h4>
                <a href="{{ cancel_url }}" class="btn btn-secondary text-white">
                    <i class="bi bi-arrow-left"></i> Cancelar
                </a>

        </div>
        <div class="card-body bg-secondary text-white">
           
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% crispy form %}

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% comment %} <div class="mt-4 d-flex justify-content-end gap-2">
                    {% block extra_buttons %}
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    {% endblock %}
                </div> {% endcomment %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
