{% extends 'shared/base_form.html' %}

{% block extra_css %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}">
  <style>
    /* Soporte para el widget en pantallas más amplias */
    .selector-available, .selector-chosen {
        width: 45% !important;
    }
  </style>
{% endblock %}

{% block form_title %}
  {{ title|default:'Registrar Grupo' }}
{% endblock %}

{% block form_content %}
  {{ form.media }}
  {{ form|crispy }}
{% endblock %}

{% block form_actions %}
  <button type="submit" class="btn btn-primary">Guardar</button>
  <a href="{{ cancel_url|default:'/' }}" class="btn btn-secondary">Cancelar</a>
{% endblock %}
